In [1]:
%pip install jupysql duckdb duckdb-engine --quiet
%load_ext sql
%sql duckdb://

   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 95.1/95.1 kB 1.8 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 49.7/49.7 kB 863.4 kB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 192.8/192.8 kB 4.4 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 144.5/144.5 kB 7.5 MB/s eta 0:00:00

Connecting to 'duckdb://'

In [2]:
from urllib.request import urlretrieve

_ = urlretrieve(
    "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/penguins.csv",
    "penguins.csv",
)

In [3]:
%%sql
CREATE TABLE penguins AS SELECT * FROM penguins.csv

Running query in 'duckdb://'

+-------+
| Count |
+-------+
+-------+

In [4]:
%sqlcmd tables

+----------+
|   Name   |
+----------+
| penguins |
+----------+

In [5]:
%sqlcmd columns -t penguins

+-------------------+---------+----------+---------+---------------+---------+
|        name       |   type  | nullable | default | autoincrement | comment |
+-------------------+---------+----------+---------+---------------+---------+
|      species      | VARCHAR |   True   |   None  |     False     |   None  |
|       island      | VARCHAR |   True   |   None  |     False     |   None  |
|   bill_length_mm  |  FLOAT  |   True   |   None  |     False     |   None  |
|   bill_depth_mm   |  FLOAT  |   True   |   None  |     False     |   None  |
| flipper_length_mm |  BIGINT |   True   |   None  |     False     |   None  |
|    body_mass_g    |  BIGINT |   True   |   None  |     False     |   None  |
|        sex        | VARCHAR |   True   |   None  |     False     |   None  |
+-------------------+---------+----------+---------+---------------+---------+

In [6]:
%%sql
SELECT *
FROM penguins.csv
LIMIT 3

Running query in 'duckdb://'

+---------+-----------+----------------+---------------+-------------------+-------------+--------+
| species |   island  | bill_length_mm | bill_depth_mm | flipper_length_mm | body_mass_g |  sex   |
+---------+-----------+----------------+---------------+-------------------+-------------+--------+
|  Adelie | Torgersen |      39.1      |      18.7     |        181        |     3750    |  MALE  |
|  Adelie | Torgersen |      39.5      |      17.4     |        186        |     3800    | FEMALE |
|  Adelie | Torgersen |      40.3      |      18.0     |        195        |     3250    | FEMALE |
+---------+-----------+----------------+---------------+-------------------+-------------+--------+

In [7]:
%sql duckdb:////content/abu.duckdb

Connecting and switching to connection 'duckdb:////content/abu.duckdb'

In [16]:
%%sql
drop table if exists x;
create table x(a integer);

Running query in 'duckdb:////content/abu.duckdb'

+-------+
| Count |
+-------+
+-------+

In [17]:
%%sql
insert into x (a) values(1);

Running query in 'duckdb:////content/abu.duckdb'

+-------+
| Count |
+-------+
+-------+

In [18]:
%%sql
select * from x;

Running query in 'duckdb:////content/abu.duckdb'

+---+
| a |
+---+
| 1 |
+---+

In [10]:
%%sql
CREATE TABLE penguins AS SELECT * FROM penguins.csv

Running query in 'duckdb:////content/abu.duckdb'

+-------+
| Count |
+-------+
+-------+

In [12]:
%%sql
SELECT *
FROM penguins
LIMIT 3

Running query in 'duckdb:////content/abu.duckdb'

+---------+-----------+----------------+---------------+-------------------+-------------+--------+
| species |   island  | bill_length_mm | bill_depth_mm | flipper_length_mm | body_mass_g |  sex   |
+---------+-----------+----------------+---------------+-------------------+-------------+--------+
|  Adelie | Torgersen |      39.1      |      18.7     |        181        |     3750    |  MALE  |
|  Adelie | Torgersen |      39.5      |      17.4     |        186        |     3800    | FEMALE |
|  Adelie | Torgersen |      40.3      |      18.0     |        195        |     3250    | FEMALE |
+---------+-----------+----------------+---------------+-------------------+-------------+--------+